<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">magicbricks.com</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav">
      <li class="nav-item"><a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
    </ul>
    <!-- <ul class="nav navbar-nav navbar-right"> -->
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/Signup" routerLinkActive="active"><span class="glyphicon glyphicon-user"
            id="right-nav"></span>Sign Up </a>
      </li> -->
      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"
            id="left-nav"></span>Log In </a>

      </li>


    </ul> -->
  </div>
</nav>
