<form #sellform="ngForm" (ngSubmit)="onSubmit(sellform)">



  <div id="sell-page">

    <div class="form-group">

      <input type="text" #BuildingName="ngModel" required [class.is-invalid]="BuildingName.invalid && BuildingName.touched"
       class="form-control" pattern="^[^\s]+[a-zA-Z]+(\s+[a-zA-Z][^\s]+)*$" name="BuildingName"  ngModel placeholder="Building Name">
      <div *ngIf="BuildingName.errors && (BuildingName.invalid && BuildingName.touched)">

        <small class="text-danger" *ngIf="BuildingName.errors.required">Building Name is required</small>
        <small class="text-danger" *ngIf="BuildingName.errors.pattern">No Whitespaces are allowed in the starting and end of Building Name</small>
      </div>
    </div>

    <div class="form-group">

      <input type="text" #FlatType="ngModel" required [class.is-invalid]="FlatType.invalid && FlatType.touched"
        class="form-control" pattern="^[^\s]+[a-zA-Z0-9]+(\s)+(+[a-zA-Z0-9][^\s]+)*$"  name="FlatType" ngModel placeholder="Flat Type">
      <div *ngIf="FlatType.errors && (FlatType.invalid && FlatType.touched)">

        <small class="text-danger" *ngIf="FlatType.errors.required">Last Flat Type is required</small>
        <small class="text-danger" *ngIf="FlatType.errors.pattern">No Whitespaces are allowed in the starting and end of Flat Type</small>
      </div>
    </div>
    <div class="form-group">

      <input type="text" #Location="ngModel" required [class.is-invalid]="Location.invalid && Location.touched"
        class="form-control" pattern="^[^\s]+([a-zA-Z]+[^\s]+)*$" name="Location" ngModel placeholder="Location">
      <div *ngIf="Location.errors && (Location.invalid && Location.touched)">

        <small class="text-danger" *ngIf="Location.errors.required">Location is required</small>
        <small class="text-danger" *ngIf="Location.errors.pattern">No Whitespaces are allowed in the starting and end of Location</small>

      </div>
    </div>
    <div class="form-group">

      <input type="text" #Owner="ngModel" required [class.is-invalid]="Owner.invalid && Owner.touched"
        class="form-control" pattern="^[^\s]+[a-zA-Z]+(\s+[a-zA-Z][^\s]+)*$" name="Owner" ngModel placeholder="Owner">
      <div *ngIf="Owner.errors && (Owner.invalid && Owner.touched)">

        <small class="text-danger" *ngIf="Owner.errors.required">Owner is required</small>
        <small class="text-danger" *ngIf="Owner.errors.pattern">No Whitespaces are allowed in the starting and end of Owner Name</small>

      </div>

    </div>
    <div class="form-group">

      <input type="text" #Price="ngModel" required [class.is-invalid]="Price.invalid && Price.touched"
        class="form-control" pattern="^[^\s]+[a-zA-Z0-9]+(\s)+(+[a-zA-Z0-9][^\s]+)*$" name="Price" ngModel placeholder="Price">

      <div *ngIf="Price.errors && (Price.invalid && Price.touched)">

        <small class="text-danger" *ngIf="Price.errors.required">Price is required</small>
        <small class="text-danger" *ngIf="Price.errors.pattern">No Whitespaces are allowed in the starting and end of Price</small>

      </div>

    </div>

    <div class="form-group">

      <input type="text" #carpetarea="ngModel" required [class.is-invalid]="carpetarea.invalid && carpetarea.touched"
        class="form-control" pattern="^[^\s]+[0-9]+(\s+[a-zA-Z][^\s]+)*$" name="carpetarea" ngModel placeholder="Carpet Area">

      <div *ngIf="carpetarea.errors && (carpetarea.invalid && carpetarea.touched)">

        <small class="text-danger" *ngIf="carpetarea.errors.required">Carpet Area is required</small>
        <small class="text-danger" *ngIf="carpetarea.errors.pattern">No Whitespaces are allowed in the starting and end of Carpet Area</small>

      </div>

    </div>

    <div class="form-group">

      <input type="text" #facing="ngModel" required [class.is-invalid]="facing.invalid && facing.touched"
        class="form-control" pattern="^[^\s]+([a-zA-Z]+[^\s]+)*$" name="facing" ngModel placeholder="Facing">

      <div *ngIf="facing.errors && (facing.invalid && facing.touched)">

        <small class="text-danger" *ngIf="facing.errors.required">Facing is required</small>
        <small class="text-danger" *ngIf="facing.errors.pattern">No Whitespaces are allowed in Facing</small>

      </div>

    </div>

    <div class="form-group">

      <input type="text" #floor="ngModel" required [class.is-invalid]="floor.invalid && floor.touched"
        class="form-control" pattern="^[^\s]+([0-9]+[^\s]+)*$" name="floor" ngModel placeholder="Floor">

      <div *ngIf="floor.errors && (floor.invalid && floor.touched)">

        <small class="text-danger" *ngIf="floor.errors.required">Floor is required</small>
        <small class="text-danger" *ngIf="floor.errors.pattern">No Whitespaces and alphabets are allowed in the Floor</small>

      </div>

    </div>

    <div class="form-group">

      <input type="text" #furnished="ngModel" required [class.is-invalid]="furnished.invalid && furnished.touched"
        class="form-control" pattern="^[^\s]+([a-zA-Z]+[^\s]+)*$" name="furnished" ngModel placeholder="Furnished">

      <div *ngIf="furnished.errors && (furnished.invalid && furnished.touched)">

        <small class="text-danger" *ngIf="furnished.errors.required">Feild is required</small>
        <small class="text-danger" *ngIf="furnished.errors.pattern">No Whitespaces are allowed in the Furnished</small>

      </div>

    </div>

    <div class="form-group">

      <input type="text" #id="ngModel" required [class.is-invalid]="id.invalid && id.touched"
        class="form-control" pattern="^[^\s]+([0-9]+[^\s]+)*$" name="id" ngModel placeholder="Property Id">

      <div *ngIf="id.errors && (id.invalid && id.touched)">

        <small class="text-danger" *ngIf="id.errors.required">Product Id is required</small>
        <small class="text-danger" *ngIf="id.errors.pattern">No Whitespaces and alphabets are allowed in the ID Field</small>

      </div>

    </div>

    <div class="form-group">

      <input type="text" #imageurl="ngModel" required [class.is-invalid]="imageurl.invalid && imageurl.touched"
        class="form-control" name="imageurl" ngModel placeholder="Image URL">

      <div *ngIf="imageurl.errors && (imageurl.invalid && imageurl.touched)">

        <small class="text-danger" *ngIf="imageurl.errors.required">Image URL is required</small>

      </div>

    </div>

    <div class="form-group">

      <input type="text" #propertytype="ngModel" required
        [class.is-invalid]="propertytype.invalid && propertytype.touched" class="form-control" pattern="^[^\s]+([a-zA-Z]+[^\s]+)*$" name="propertytype"
        ngModel placeholder="Property Type">

      <div *ngIf="propertytype.errors && (propertytype.invalid && propertytype.touched)">

        <small class="text-danger" *ngIf="propertytype.errors.required">Property Type is required</small>
        <small class="text-danger" *ngIf="propertytype.errors.pattern">No Whitespaces are allowed in the Property Type</small>


      </div>

    </div>

    <div class="form-group">

      <input type="text" #superarea="ngModel" required [class.is-invalid]="superarea.invalid && superarea.touched"
        class="form-control" pattern="^[^\s]+[0-9]+(\s+[a-zA-Z][^\s]+)*$" name="superarea" ngModel placeholder="Super Area">

      <div *ngIf="superarea.errors && (superarea.invalid && superarea.touched)">

        <small class="text-danger" *ngIf="superarea.errors.required">Super Area is required</small>
        <small class="text-danger" *ngIf="superarea.errors.pattern">No Whitespaces are allowed in the SuperArea</small>
      </div>

    </div>
    <div style="padding-bottom: 60px;" class="form-group">
      <button class="btn btn-block btn-primary" type="submit" id="upload" [disabled]="sellform.invalid">UPLOAD</button>
    </div>

  </div>
</form>
<div class="warning">
  {{warn}}
</div>