<form #sellform="ngForm" (ngSubmit)="onSubmit(sellform)">



  <div id="sell-page">

    <div class="form-group">

      <input type="text" #BuildingName="ngModel" required [class.is-invalid]="BuildingName.invalid && BuildingName.touched"
       class="form-control" name="BuildingName"  [(ngModel)]="property.BuildingName" placeholder="Building Name">
      <div *ngIf="BuildingName.errors && (BuildingName.invalid && BuildingName.touched)">

        <small class="text-danger" *ngIf="BuildingName.errors.required">Building Name is required</small>
      </div>
    </div>

    <div class="form-group">

      <input type="text" #FlatType="ngModel" required [class.is-invalid]="FlatType.invalid && FlatType.touched"
        class="form-control" name="FlatType" [(ngModel)]="property.FlatType" placeholder="Flat Type">
      <div *ngIf="FlatType.errors && (FlatType.invalid && FlatType.touched)">

        <small class="text-danger" *ngIf="FlatType.errors.required">Last Flat Type is required</small>
      </div>
    </div>
    <div class="form-group">

      <input type="text" #Location="ngModel" required [class.is-invalid]="Location.invalid && Location.touched"
        class="form-control" name="Location" [(ngModel)]="property.Location" placeholder="Location">
      <div *ngIf="Location.errors && (Location.invalid && Location.touched)">

        <small class="text-danger" *ngIf="Location.errors.required">Location is required</small>

      </div>
    </div>
    <div class="form-group">

      <input type="text" #Owner="ngModel" required [class.is-invalid]="Owner.invalid && Owner.touched"
        class="form-control" name="Owner" [(ngModel)]="property.Owner" placeholder="Owner">
      <div *ngIf="Owner.errors && (Owner.invalid && Owner.touched)">

        <small class="text-danger" *ngIf="Owner.errors.required">Owner is required</small>

      </div>

    </div>
    <div class="form-group">

      <input type="text" #Price="ngModel" required [class.is-invalid]="Price.invalid && Price.touched"
        class="form-control" name="Price" [(ngModel)]="property.Price" placeholder="Price">

      <div *ngIf="Price.errors && (Price.invalid && Price.touched)">

        <small class="text-danger" *ngIf="Price.errors.required">Price is required</small>

      </div>

    </div>

    <div class="form-group">

      <input type="text" #carpetarea="ngModel" required [class.is-invalid]="carpetarea.invalid && carpetarea.touched"
        class="form-control" name="carpetarea" [(ngModel)]="property.carpetarea" placeholder="Carpet Area">

      <div *ngIf="carpetarea.errors && (carpetarea.invalid && carpetarea.touched)">

        <small class="text-danger" *ngIf="carpetarea.errors.required">Carpet Area is required</small>

      </div>

    </div>

    <div class="form-group">

      <input type="text" #facing="ngModel" required [class.is-invalid]="facing.invalid && facing.touched"
        class="form-control" name="facing" [(ngModel)]="property.facing" placeholder="Facing">

      <div *ngIf="facing.errors && (facing.invalid && facing.touched)">

        <small class="text-danger" *ngIf="facing.errors.required">Facing is required</small>

      </div>

    </div>

    <div class="form-group">

      <input type="text" #floor="ngModel" required [class.is-invalid]="floor.invalid && floor.touched"
        class="form-control" name="floor" [(ngModel)]="property.floor" placeholder="Floor">

      <div *ngIf="floor.errors && (floor.invalid && floor.touched)">

        <small class="text-danger" *ngIf="floor.errors.required">Floor is required</small>

      </div>

    </div>

    <div class="form-group">

      <input type="text" #furnished="ngModel" required [class.is-invalid]="furnished.invalid && furnished.touched"
        class="form-control" name="furnished" [(ngModel)]="property.furnished" placeholder="Furnished">

      <div *ngIf="furnished.errors && (furnished.invalid && furnished.touched)">

        <small class="text-danger" *ngIf="furnished.errors.required">Feild is required</small>

      </div>

    </div>

    <div class="form-group">

      <input type="text" #id="ngModel" required [class.is-invalid]="id.invalid && id.touched"
        class="form-control" name="id" [(ngModel)]="property.id" placeholder="Property Id">

      <div *ngIf="id.errors && (id.invalid && id.touched)">

        <small class="text-danger" *ngIf="id.errors.required">Product Id is required</small>

      </div>

    </div>

    <div class="form-group">

      <input type="text" #imageurl="ngModel" required [class.is-invalid]="imageurl.invalid && imageurl.touched"
        class="form-control" name="imageurl" [(ngModel)]="property.imageurl" placeholder="Image URL">

      <div *ngIf="imageurl.errors && (imageurl.invalid && imageurl.touched)">

        <small class="text-danger" *ngIf="imageurl.errors.required">Image URL is required</small>

      </div>

    </div>

    <div class="form-group">

      <input type="text" #propertytype="ngModel" required
        [class.is-invalid]="propertytype.invalid && propertytype.touched" class="form-control" name="propertytype"
        [(ngModel)]="property.propertytype" placeholder="Property Type">

      <div *ngIf="propertytype.errors && (propertytype.invalid && propertytype.touched)">

        <small class="text-danger" *ngIf="propertytype.errors.required">Property Type is required</small>

      </div>

    </div>

    <div class="form-group">

      <input type="text" #superarea="ngModel" required [class.is-invalid]="superarea.invalid && superarea.touched"
        class="form-control" name="superarea" [(ngModel)]="property.superarea" placeholder="Super Area">

      <div *ngIf="superarea.errors && (superarea.invalid && superarea.touched)">

        <small class="text-danger" *ngIf="superarea.errors.required">Super Area is required</small>

      </div>

    </div>
    <div class="form-group">
      <button class="btn btn-block btn-primary" type="submit" id="upload" [disabled]="sellform.invalid">UPLOAD</button>
    </div>

  </div>
</form>
<div class="warning">
  {{warn}}
</div>