<div class="bodyy col-sm-9">
  <h2>Property Listing</h2>
  <div *ngFor="let product of propertylist" class="col-sm-6 col-md-4">
    <div><img [src]="product.imageurl" class="img" /><br>
      <h3>{{product.BuildingName}}</h3>
      <ul>
        <li>
          <h4>Rs. {{product.Price}}</h4>
        </li>
        <li>
          <h4> {{product.FlatType}}</h4>
        </li>
        <li>
          <h4>ready to move</h4>
        </li>
        <li>
          <h4>{{product.Location}}</h4>
        </li>
      </ul>
      <div>
        <span class="btnSpacing">
          <button class="btn btn-success" routerLink="/cart/{{product.id}}" routerLinkActive="active">GET
            DETAILS</button>
        </span>
        <span>
          <button class="btnheart btn btn-default" type="submit">
            <i class="abc glyphicon glyphicon-heart"></i>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>