.img{
    height:350px;
    width:300px;
    margin-top: 40px;
}
.cardd{
    margin-left: 300px;
}
  .btnheart{
      margin-left: 140px;
      border:0;
    
  }
  .abc{
      font-size: 20px;
      margin-top: -25px;
  }
  .abcd{
      text-emphasis-color: blue;
  }
  .bodyy{
      margin-bottom: 20px;
  }