/* .heroimage{
    width: 100%;
    margin-top: -17px;
} */
/* .centered{
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 40px;
} */

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .fix-im {
      position: relative;
      bottom:11rem;
  }
  @media screen and (max-width:768px){
  .flex-100 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
  }
  .fix-im {bottom: 0rem;}
  }
  .ugali {
      background: black;
      padding: 6px;
  }

  .carousel-inner img {
    width: 100%;
    height: 100%;
}
