<h1>More Details</h1>
<div class="col-sm-6">
  <img height="400cm" width="100%" src="{{product.imageurl}}" alt="...">
</div>
<div class="info col-sm-6">
  <div class="caption">
    <h2><u>{{product.BuildingName}}</u></h2>
  </div>
  <div class="features">
    <ul>
      <div class="col-sm-6">
        <li><label>Owner:</label><span>{{product.Owner}}</span></li>
        <li><label>Price:</label><span>{{product.Price}}</span></li>
        <li><label>Location:</label><span>{{product.Location}}</span></li>
        <li><label>Flattype:</label><span>{{product.FlatType}}</span></li>
        <li><label>Floor:</label><span>{{product.floor}}</span></li>
      </div>
      <div class="col-sm-6">
        <li><label>superarea:</label><span>{{product.superarea}}</span></li>
        <li><label>carpetarea:</label><span>{{product.carpetarea}}</span></li>
        <li><label>facing:</label><span>{{product.facing}}</span></li>
        <li><label>furnished:</label><span>{{product.furnished}}</span></li>
        <li><label>propertytype:</label><span>{{product.propertytype}}</span></li>
      </div>
    </ul>
  </div>
  <div class="buttons">
    <span class="buy">
      <input class="btn btn-success" type="button" ng-click="addItemToCart(product)" value="Buy" (click)="onBuy()" [disabled]="disableButton">
    </span>
    <button class="back btn btn-success" routerLink="/dashboard" routerLinkActive="active">Back
    </button>
  </div>

</div>