<!-- hero section starts-->
<div class="row">
    <div class="col-sm-12">
      <app-heroarea></app-heroarea>
    </div>
  </div>
  <!--hero section ends-->
  
  <!--content section starts-->
  <div class="row">
  
    <!-- left side option area starts-->
    <div class="col-sm-3 left_side_options">
      <app-left-option-area></app-left-option-area>
    </div>
      <!-- left side option area ends-->
  
      <!-- right content side option area starts-->
    <div class="col-sm-9 right_side_content">
      <app-right-content-area></app-right-content-area>
    </div>
        <!-- right content side option area ends-->
  </div>
  <!--content section ends-->
  
      <!-- footer starts-->
  <div class="row">
    <div class="col-sm-12">
      <app-footer></app-footer>
    </div>
  </div>
      <!-- footer ends-->