<div class="col-sm-3">

  <div class="dropdown">
     <button (click)="myFunction1()" class="dropbtn">+ Type</button>
     <div id="myDropdown1" class="dropdown-content">
     <ul>

       <li><button class="categ" (click) = "filterr('propertytype','residential')">Residential</button></li>
      <li><button class="categ"(click) = "filterr('propertytype','commercial')">Commercial</button></li>
   
      </ul>
     </div>
   </div> 
   
 <hr width="60%">
 <div class="dropdown">
     <button (click)="myFunction2()" class="dropbtn">+ Location</button>
     <div id="myDropdown2" class="dropdown-content">
     <ul>

       <li><button class="categ" (click) = "filterr('Location','delhi')">delhi</button></li>
      <li><button class="categ"(click) = "filterr('Location','Gurgaon')">gurgaon</button></li>
      <li><button class="categ"(click) = "filterr('Location','greater noida')">greater noida</button></li>
     <li> <button class="categ"(click) = "filterr('Location','noida')">noida</button></li>
     
      </ul>
     </div>
   </div>

      
 <hr width="60%">
 <div class="dropdown">
     <button (click)="myFunction3()" class="dropbtn">+ Budget</button>
     <div id="myDropdown3" class="dropdown-content">
     <ul>

       <li><button class="categ" (click) = "filterr('Budget','50 lkh-5 cr')">50 lkh-5 cr</button></li>
      <li><button class="categ"(click) = "filterr('Budget','5 cr-10 cr')">5 cr-10 cr</button></li>
      <li><button class="categ"(click) = "filterr('Budget','10 cr-15 cr')">10 cr-15 cr</button></li>
     <li> <button class="categ"(click) = "filterr('Budget','15 cr-20 cr')">15 cr-20 cr</button></li>
     
      </ul>
     </div>
   </div>

 
 </div>
