<div class="col-sm-3">

  <div class="dropdown">
     <button class="dropbtn">+ Type</button>
     <div  class="dropdown-content">
     <ul>

       <li><button class="cont"(click) = "filterr('propertytype','residential')">Residential</button></li>
       <li><button  class="cont"(click) = "filterr('propertytype','commercial')">Commercial</button></li>
   
      </ul>
     </div>
   </div> 
   
 <hr width="60%">
 <div class="dropdown">
     <button  class="dropbtn">+ Location</button>
     <div class="dropdown-content">
     <ul>

       <li><button class="cont"(click) = "filterr('Location','delhi')">delhi</button></li>
       <li><button class="cont"(click) = "filterr('Location','Gurgaon')">gurgaon</button></li>
       <li><button class="cont"(click) = "filterr('Location','greater noida')">greater noida</button></li>
       <li><button class="cont"(click) = "filterr('Location','noida')">noida</button></li>
     
      </ul>
     </div>
   </div>

      
 <hr width="60%">
 <div class="dropdown">
     <button  class="dropbtn">+ Budget</button>
     <div  class="dropdown-content">
     <ul>

       <li><button class="cont"(click) = "filterr('Budget','50 lkh-5 cr')">50 lkh-5 cr</button></li>
       <li><button class="cont"(click) = "filterr('Budget','5 cr-10 cr')">5 cr-10 cr</button></li>
       <li><button class="cont"(click) = "filterr('Budget','10 cr-15 cr')">10 cr-15 cr</button></li>
       <li><button class="cont"(click) = "filterr('Budget','15 cr-20 cr')">15 cr-20 cr</button></li>
     
      </ul>
     </div>
   </div>

 
 </div>
