<div class="side-menu">
    <label style="padding-left:15px;">Collectios</label><hr>
    <label onclick="list1()">+ Categories</label>
    <div style="display: none" id="list1">
      <a href="#">All Men</a><br>
      <a href="#">T-Shirts & Shirts (57)</a><br>
      <a href="#">Kurtas & Jackets (36)</a><br>
      <a href="#">Trousers (18)</a><br>
      <a href="#">Nico Core (27)</a><br>
      <a href="#">Essentials (14)</a><br>
      <a href="#">Shoes (12)</a>
    </div>
    
    <hr>
    
    <label onclick="list2()">+ Price</label>
    <div style="display: none" id="list2">
        <input type="range" name="price-min" id="price-min" value="200" min="0" max="1000">
    </div>
  
    <hr>
  
    <label onclick="list3()">+ Size</label>
    <div style="display: none" id="list3">
      <a href="#">XL (36)</a><br>
      <a href="#">L (42)</a><br>
      <a href="#">M (52)</a><br>
      <a href="#">S (28)</a><br>
      <a href="#">26 (32)</a><br>
      <a href="#">28 (54)</a><br>
      <a href="#">30 (23)</a><br>
      <a href="#">32 (12)</a><br>
      <a href="#">34 (56)</a><br>
      <a href="#">36 (4)</a><br>
      <a href="#">38 (2)</a><br>
    </div>
  
    <hr>
  
    <label onclick="list4()">+ Color</label>
    <div style="display: none" id="list4">
      <a href="#">Blue (36)</a><br>
      <a href="#">Black (42)</a><br>
      <a href="#">Brown (52)</a><br>
      <a href="#">Multi (28)</a><br>
      <a href="#">Charcol (32)</a><br>
      <a href="#">Green (54)</a><br>
      <a href="#">Ivory (23)</a><br>
      <a href="#">Beige (12)</a><br>
      <a href="#">Grey (56)</a><br>
      <a href="#">White (4)</a><br>
      <a href="#">Pink (2)</a><br>
    </div>
  
    <hr>
  
    <label onclick="list5()">+ Availability</label>
    <div style="display: none" id="list5">
        <li style ="padding-left: 30px;" type="circle"><a style ="padding-left: 0px;" href="#">Exclude Out Of Stock</a></li><br>
    </div>
  
  
  </div>