<form #signupform="ngForm" (ngSubmit)="onSubmit(signupform)">
  <!-- <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="employeeService..$key"> -->


  <div id="register-page">

    <div class="form-group">
      <!-- <label>
        FirstName:
      </label> -->
      <input type="text" class="form-control" name="fname " #name="ngModel" [(ngModel)]="user.fname"
        placeholder="First Name">
    </div>
    <div class="form-group">
      <!-- <label>
        LastName:
      </label> -->
      <input type="text" class="form-control" name="lname " #name="ngModel" [(ngModel)]="user.lname"
        placeholder="Last Name">
    </div>
    <div class="form-group">
      <!-- <label>
        Contact Number:
      </label> -->
      <input type="text" class="form-control" name="cno" #name="ngModel" [(ngModel)]="user.cno"
        placeholder="Contact Number">
    </div>
    <div class="form-group">
      <!-- <label>
        UserName:
      </label> -->
      <input type="text" class="form-control" name="username" #name="ngModel" [(ngModel)]="user.username"
        placeholder="abc@gmail.com">
        
    </div>
    <div class="form-group">
      <!-- <label>
        Password:
      </label> -->
      <input type="{{type}}" class="form-control" name="password" #position="ngModel" [(ngModel)]="user.password"
        placeholder="Password">
        <span class="pwd glyphicon glyphicon-eye-open" (click)="showPass()"></span>
    </div>
    <div class="form-group">
      <button class="btn btn-block btn-primary" type="submit" id="register">REGISTER</button>
      <p class="message">Already registered? <a routerLink="/login" routerLinkActive="active">Log In</a></p>
    </div>

  </div>
</form>